<div class='additional-info'>
  <div class='additional-info__headers'>
    {{#each headersItems}}
      <span
        class='additional-info__headers__items table__header'
      >{{this}}</span>
    {{/each}}
  </div>
  <div class='additional-info__content table__row__text'>
    {{body.infoText}}
  </div>
</div>
