.review {
  width: var(--block-width);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 50px auto 0;
  /* padding-top: 50px;*/
  /* padding-bottom: 50px; */

  border-radius: 5px;
  /*background-color: var(--background-color);*/
  /*background: white;*/
  background-color: rgba(59, 179, 59, 0.1);
}

.comments__block {
  /*background: white;*/
}

.review__header {
  width: 100%;
  height: auto;

  margin: 2% 0;
  border-bottom: 3px black solid;
  padding: 2% 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.review__header__img {
  height: auto;
  width: 10%;
}

.review__header__user-name,
.review__header__film-name {
  display: inline;
  margin: 3%;
  width: 30%;
  cursor: pointer;
}

.review__header__review-data {
  text-align: end;
  width: 40%;
  font-size: 16px;
}

.review__body {
  margin: 3% 0;
}
/*@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");*/

.comment {
  margin-bottom: 50px;
  /*background: white;*/
  border-radius: 8px;
  width: var(--block-width);

  padding: 10px 20px 10px 20px;

  /*background-color: rgba(189, 230, 189, 0.9);*/
  /* rgba(255, 240, 195, 0.9) */
  /* rgba(255, 229, 229, 0.9) */
}

.comments__all {
  margin-top: 20px;
}

.comment-img_comment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.comment-header__left {
  display: flex;
  justify-items: center;
}

.comment-name {
  margin: 0;
}

.comment-img {
  display: flex;
  justify-items: center;
}

.comment-content {
  margin-top: 20px;
}

.comment-details {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
