.review {
  width: var(--block-width);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 50px auto 0;
  /* padding-top: 50px;*/
  /* padding-bottom: 50px; */

  border-radius: 5px;
  /*background-color: var(--background-color);*/
  /*background: white;*/
  background-color: rgba(59,179,59,.1);
}

.comments__block {
  /*background: white;*/
}

.review__header {
  width: 100%;
  height: auto;

  margin: 2% 0;
  border-bottom: 3px black solid;
  padding: 2% 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.review__header__img {
  height: auto;
  width: 10%;
}

.review__header__user-name,
.review__header__film-name {
  display: inline;
  margin: 3%;
  width: 30%;
  cursor: pointer;
}

.review__header__review-data {
  text-align: end;
  width: 40%;
  font-size: 16px;
}

.review__body {
  margin: 3% 0;
}
/*@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");*/



.comment {
  margin-bottom: 50px;
  /*background: white;*/
  border-radius: 8px;
  width: var(--block-width);


  padding: 10px 20px 10px 20px ;

  /*background-color: rgba(189, 230, 189, 0.9);*/
  /* rgba(255, 240, 195, 0.9) */
  /* rgba(255, 229, 229, 0.9) */

}

.comments__all {
  margin-top: 20px;
}

.comment-img_comment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.comment-header__left {
  display: flex;
  justify-items: center;
}

.comment-name {
  margin: 0;
}

.comment-img {
  display: flex;
  justify-items: center;
  /*width: 50px;*/
  /*height: 50px;*/
  /*box-sizing: border-box;*/
  /*border-radius: 10px;*/
}

.comment-content {
  margin-top: 20px;
}

.comment-details {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/*main section.comment-module ul li .comment .comment-img {*/
/*  width: 7%;*/
/*}*/
/*main section.comment-module ul li .comment .comment-img img {*/
/*  width: 50px;*/
/*  height: 50px;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content {*/
/*  width: 93%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  row-gap: 12px;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-details {*/
/*  width: 100%;*/

/*  display: flex;*/
/*  column-gap: 15px;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-details .comment-name {*/
/*  text-transform: capitalize;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-details .comment-log {*/
/*  color: #7a7a7a;*/
/*  font-size: 14px;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-data {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*  column-gap: 20px;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-data .comment-likes {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  column-gap: 12px;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-data .comment-likes > div {*/
/*  display: flex;*/
/*  column-gap: 4px;*/
/*  align-items: center;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-data .comment-likes > div img {*/
/*  cursor: pointer;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-data .comment-likes > div span {*/
/*  font-weight: 600;*/
/*}*/
/*main section.comment-module ul li .comment .comment-content .comment-data .comment-reply a, main section.comment-module ul li .comment .comment-content .comment-data .comment-report a {*/
/*  color: #272727;*/
/*  font-weight: 400;*/
/*}*/
/*main section.comment-module ul li::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 60px;*/
/*  left: 50px;*/
/*  transform: translateX(-25px);*/
/*  width: 2px;*/
/*  height: calc(100% - 60px);*/
/*  background: #c5c5c5;*/
/*}*/
/*main section.comment-module ul li ul {*/
/*  margin-top: 35px;*/
/*  margin-left: 70px;*/
/*  width: calc(100% - 70px);*/
/*}*/

/*@media screen and (max-width: 1600px) {*/
/*  main section.comment-module {*/
/*    width: 60%;*/
/*  }*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
/*  main section.comment-module {*/
/*    width: 70%;*/
/*  }*/
/*  main section.comment-module ul li .comment .comment-img {*/
/*    width: 10%;*/
/*  }*/
/*  main section.comment-module ul li .comment .comment-content {*/
/*    width: 90%;*/
/*  }*/
/*}*/
/*@media screen and (max-width: 1024px) {*/
/*  main section.comment-module {*/
/*    width: 80%;*/
/*  }*/
/*}*/
/*@media screen and (max-width: 768px) {*/
/*  main section.comment-module {*/
/*    width: 96%;*/
/*    padding: 75px 10px;*/
/*  }*/
/*  main section.comment-module ul li .comment {*/
/*    column-gap: 12px;*/
/*  }*/
/*  main section.comment-module ul li .comment .comment-img {*/
/*    width: 15%;*/
/*  }*/
/*  main section.comment-module ul li .comment .comment-img img {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*  }*/
/*  main section.comment-module ul li .comment .comment-content {*/
/*    width: 85%;*/
/*  }*/
/*  main section.comment-module ul li .comment .comment-content .comment-details {*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*  }*/
/*  main section.comment-module ul li .comment .comment-content .comment-data {*/
/*    column-gap: 12px;*/
/*  }*/
/*  main section.comment-module ul li::before {*/
/*    top: 50px;*/
/*    left: 50px;*/
/*    transform: translateX(-30px);*/
/*    height: calc(100% - 60px);*/
/*  }*/
/*  main section.comment-module ul li ul {*/
/*    margin-top: 25px;*/
/*    margin-left: 50px;*/
/*    width: calc(100% - 50px);*/
/*  }*/
/*}*/
