<div class='signin'>
  <div class='signin__main'>
    <img class='sign-frame-img' src='/icons/arrow_left.svg' />
    <form class='login-form'>
      <span class='sign-title'>Авторизация</span>
      <span class='text-form login-text'>Логин</span>
      <span class='error-login error-string'></span>
      <span class='text-form password-text'>Пароль</span>
      <span class='error-password error-string'></span>
      <div class='container-login'>
        <div class='redirect-to-signup' data-section='signup'>
          Зарегистрироваться
        </div>
      </div>
    </form>
  </div>
</div>