<form class='loginForm'>
  <input class='loginInput' placeholder='Логин' />
  <input class='passwordInput' type='password' placeholder='Пароль' />
  <button class='buttonLogin' type='submit'>Войти</button>
</form>
<div class='redirectToSignup' data-section='signup'>
  Вы ещё не зарегистрированы ?
</div>
<div class='errorString'></div>