<div class='signin'>
    <div class="signinMain">
    <img
            class='signin-frame-img'
            src='../../icons/arrow_left.svg'
    />
      <form class='loginForm'>
        <input class='loginInput' placeholder='Логин' />
        <input class='passwordInput' type='password' placeholder='Пароль' />
        <button class='buttonLogin' type='submit'>Войти</button>
      </form>
        <div class='redirectToSignup' data-section='signup'>
            Вы ещё не зарегистрированы ?
        </div>
    </div>
    <div class='errorStringSignin'></div>
</div>
