<div class='signin'>
  <div class='signin__main'>
    <img class='sign-frame-img' src='../../icons/arrow_left.svg' />
    <form class='loginForm'>
      <span class='signTitle'>Авторизация</span>
      <span class='textForm'>Логин</span>
      <div class='wrap'>
        <input class='loginInput' />
        <span class='errorLogin'></span>
      </div>

      <span class='textForm'>Пароль</span>

      <div class='wrap'>
        <input class='passwordInput' type='password' />
        <span class='errorPassword'></span>
      </div>
      <div class='containerLogin'>
        <button class='buttonLogin' type='submit'>Войти</button>
        <div class='redirectToSignup' data-section='signup'>
          Зарегистрироваться
        </div>
      </div>
    </form>
  </div>
  <div class='errorStringSignin'></div>
</div>