<div class='signin'>
  <div class='signin__main'>
    <img class='back-img' src='../../icons/arrow_left.svg' />
    <form class='signin__main__login-form'>
      <span class='sign-title'>Авторизация</span>
      <span class='text-form'>Логин</span>
      <div class='signin__main__login-form__wrap'>
        <input class='login-input' />
        <span class='error-login'></span>
      </div>
      <span class='text-form'>Пароль</span>
      <div class='signin__main__login-form__wrap'>
        <input class='password-input' type='password' />
        <span class='error-password'></span>
      </div>
      <div class='signin__main__login-form__container-login'>
        <button class='button-login' type='submit'>Войти</button>
        <div class='redirect-to-signup' data-section='signup'>
          Зарегистрироваться
        </div>
      </div>
    </form>
  </div>
  <div class='signin__error'></div>
</div>