<<<<<<< HEAD
<button class='button-submit' type='submit'>{{text}}</button>
=======
<button class='button-submit' type='submit'>{{text}}</button>
>>>>>>> 16cbd31 (add change rating color and fix stars)
