<form class="login_form">
    <input class="login_input" placeholder="login">
    <input class="password_input" placeholder="password">
    <button class="button_login" type="submit">Войти</button>
</form>
