
    <form class="loginForm">
        <input class="emailInput" placeholder="email">
        <input class="passwordInput" placeholder="password">
        <button class="buttonLogin" type="submit">Войти</button>
    </form>
    <div class="redirectToSignup" data-section="signup">
        Вы ещё не зарегистрированы ?
    </div>
