<div class='count-film-rating'>

  <img src='/icons/starRating.png' class='brand-icon' />
  <img src='/icons/starRating.png' class='brand-icon' />
  <img src='/icons/starRating.png' class='brand-icon' />
  <img src='/icons/starRating.png' class='brand-icon' />
  <img src='/icons/starRating.png' class='brand-icon' />
  <p class='count-film-rating__text'> {{body.rating}} рейтинг </p>
  <p class='count-film-rating__text'> {{body.number}} оценок </p>

</div>