<div class='countFilmRating'>

  <img src='/icons/starRating.png' class='brand_icon' />
  <img src='/icons/starRating.png' class='brand_icon' />
  <img src='/icons/starRating.png' class='brand_icon' />
  <img src='/icons/starRating.png' class='brand_icon' />
  <img src='/icons/starRating.png' class='brand_icon' />
  <p class='countFilmRating__text'> {{body.rating}} рейтинг </p>
  <p class='countFilmRating__text'> {{body.number}} оценок </p>

</div>