<div class="directory-films" data-section="{{directionId}}">
    <div class="directory-films__poster"><img class="directory-films__poster__image" src="/icons/add.svg" ></div>
    <div class="directory-films__title">{{directionName}}</div>
</div>
