<div class="modal">
    <div class='modal__window'>
        <div class="modal__window__title">Создайте папку</div>
        <div class="modal__window__body"></div>
        <div class="modal__window__button"></div>
    </div>
</div>
