<link
  rel="stylesheet"
  href="/home/alfaiv/TechPark/Project2/2023_2_Vkladyshi/public/index.css"
/>
<div class="countLikeActor">
  <div class="countLikeActor__star-box">
    <img
      class="countLikeActor__star-box__star"
      src="../../icons/Оценеено=Есть оценка.svg"
      alt=""
    />
    <img
      class="countLikeActor__star-box__star"
      src="../../icons/Оценеено=Есть оценка.svg"
      alt=""
    />
    <img
      class="countLikeActor__star-box__star"
      src="../../icons/Оценеено=Есть оценка.svg"
      alt=""
    />
    <img
      class="countLikeActor__star-box__star"
      src="../../icons/Оценеено=Есть оценка.svg"
      alt=""
    />
    <img
      class="countLikeActor__star-box__star"
      src="../../icons/Оценеено=Есть оценка.svg"
      alt=""
    />
  </div>

  <div class="countLikeActor__mark countLikeActor__mark_good table__header">
    5.7
  </div>
  <div class="countLikeActor__mark-number table__row__text">11 120 оценок</div>
  <img
    class="countLikeActor__watched"
    src="../../icons/Будут смотреть=Не смотрим.svg"
  />
  <img
    class="countLikeActor__review"
    src="../../icons/Иконка написать отзыв.svg"
  />
</div>
