.countLikeActor {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--block-width);
  margin: auto;
}

.countLikeActor__mark {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 50px;
}

.countLikeActor__mark_good {
  color: #06cb02;
}

.countLikeActor__mark_mid {
  color: #fcc400;
}

.countLikeActor__mark_bad {
  color: #cb3202;
}

.countLikeActor__watched {
  margin-left: 8%;
  margin-right: 2%;
}
