<div class='count-like-actor'>
  <div class='count-like-actor__star-box'>
  <div class='count-like-actor__mark count-like-actor__mark_good table__header'>
    {{mark}}
  </div>
  <div class='count-like-actor__mark-number table__row__text'>{{mark_number}}
    оценок</div>
</div>
