{{! { 
  isHeader: bool, 
  header: str, 
  subHeader: str, 
  row:[
    row1:{
      rowName: str,
      rowText: str,
    },
    row2:{
      rowName: str,
      rowText: str,
    },
  ], 
} }}
<div class='description'>
  <img
    class='img__description'
    src='../../icons/star.png'
    alt='img__description'
  />
  <div class='text__description'>
    {{#if isHeader}}
      <div class='header__text__description'>
        <p class='header-string__header__text__description'>{{header}}</p>
        <p class='subheader-string__header__text__description'>
          {{subHeader}}
        </p>
      </div>
    {{/if}}

    {{#each row}}
      <div class='table__text__description'>
        <div class='table__description header__table'>Основная информация</div>

        <div class='table__description row__table'>
          <!-- <img
          class="table__description img__row__table"
          src="../../icons/like.svg"
          alt="img__row__table"
        /> -->
          <span
            class='table__description title__row__table'
          >{{this.rowName}}</span>
          <span
            class='table__description text__row__table'
          >{{this.rowText}}</span>
        </div>
      </div>
    {{/each}}
  </div>
</div>