<div class="footer">
  <div class="left_text">2023 - MovieHub</div>
  <a
    class="center_image"
    href="https://github.com/frontend-park-mail-ru/2023_2_Vkladyshi"
  ><img src="icons/git.svg" alt="Путь к репозиторию с исходниками" /></a>
  <div class="right_text">Образовательный проект - VK Education</div>
</div>