/* :root {
  --footer-text-width: 500px;
  --footer-text-height: 30px;
} */

.footer {
  background: #000;

  /* position: fixed; */
  /* bottom: 0; */

  height: 70px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}

.footer .left_text {
  width: 40%;
  text-align: center;
  opacity: 0.5;
}

.footer .center_image {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .right_text {
  width: 40%;
  text-align: left;
  opacity: 0.5;
}
