<div class='footer'>
  <div class='footer__left-text'>2023 - MovieHub</div>
  <a
    class='footer__center-image'
    href='https://github.com/frontend-park-mail-ru/2023_2_Vkladyshi'
  ><img src='/icons/git.svg' alt='Путь к репозиторию с исходниками' /></a>
  <div class='footer__right-text'>Образовательный проект - VK Education</div>
</div>