.footer {
  background: black;
  height: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a29f9f;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.center_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
