<!-- {
    name:"Строгий критик",
    data:"12.02.2023",
    text:"dsflkgjsdfkhgkldshgsdfkjhgljkdshggkjfhsdfbvdjfbdfksrhakaFHYOUFIASBDFJASGBISBDAKJ;JHFBSAKJFJHABDSAHGVJFGFSDAGBDJSAKSAUHSDFKJASBHFD"

}; -->
<link
  rel='stylesheet'
  href='/home/alfaiv/TechPark/Project2/2023_2_Vkladyshi/public/index.css'
/>
<div class='rewiew'>
  <div class='rewiew__header'>
    <img class='rewiew__header__img' src='../../icons/avatar.png' />
    <h1 class='rewiew__header__user-name table__header'>{{name}}</h1>
    <span class='rewiew__header__rewiew-data table__row__text'>{{date}}</span>
  </div>
  <div class='rewiew__body'>
    <span class='rewiew__body__text table__row__text'>{{text}}</span>
  </div>
</div>