<!-- {
    name:"Строгий критик",
    data:"12.02.2023",
    text:"dsflkgjsdfkhgkldshgsdfkjhgljkdshggkjfhsdfbvdjfbdfksrhakaFHYOUFIASBDFJASGBISBDAKJ;JHFBSAKJFJHABDSAHGVJFGFSDAGBDJSAKSAUHSDFKJASBHFD"

}; -->
<link
  rel="stylesheet"
  href="/home/alfaiv/TechPark/Project2/2023_2_Vkladyshi/public/index.css"
/>
<div class="rewiew">
  <div class="rewiew__header">
    <img class="rewiew__header__img" / src="../../icons/avatar.png">
    <h1 class="rewiew__header__user-name table__header">{{name}}Денис Давидс</h1>
    <span class="rewiew__header__rewiew-data table__row__text">{{date}}02.02.2023</span>
  </div>
  <div class="rewiew__body">
    <span class="rewiew__body__text table__row__text">{{text}}Найти свое время. Найти себя
        В начале 60-х годов прошлого века космическая гонка между СССР и США вышла на совершенно новый уровень. Правительства обеих стран вкладывали просто колоссальные суммы в изучение космоса. В специальных исследовательских программах брали участие исключительно лучшие из лучших ученые, техники и прочие специалисты, работающие на результат уже здесь и сейчас. И вполне естественно, что некоторые моменты подробных исследований были строго засекречены, ведь они имели особое стратегическое значение… Именно такими фактами в свое время вдохновились авторы нового научно-фантастического фильма «Человек ниоткуда», который наконец-то вышел на экраны и оказался весьма интригующим приключением, заслуживающим особого внимания.
        
        Непосредственно сюжет фильма берет свое начало в 1960 году, когда Советский Союз проделал просто титаническую работу и вплотную приблизился к тому, чтобы первым отправить человека в космос. Однако до того, как на орбиту отправился Юрий Гагарин, наши ученые и ракетостроители решили провести особый</span>
  </div>
</div>
