.review-form {
  width: var(--block-width);
  height: auto;

  margin: 0 auto 100px;

  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rating__form {
  /*margin-top: 30px;*/
  height: 50px;
}

.review-form__header {
  /*margin: 3%;*/
  border-bottom: 2px black solid;
  padding: 3% 0;

  display: flex;
}

.review-form__header__img {
  width: 4%;
  height: auto;
}

.review-form__header__text {
  margin: 0 5%;
}

.review-form__body {
  width: 100%;
  margin: auto;
}

.review-form__body__error {
  color: #e04949;
  font-size: 19px;
}

.redirect__signin {
  cursor: pointer;
  font-size: 19px;
  padding: 30px 50px;
}

.review-form__body__text {
  width: 90%;
  height: 200px;
  /*margin: 0 auto;*/
  /*border-radius: 7px;*/
  padding: 20px;
  /*white-space: normal;*/
  /*word-wrap: break-word;*/
  /*text-align: left;*/
  /*vertical-align: top;*/
  resize: vertical;
}

.container-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.input__form {
  color: black;
}

.review-form__body__button {
  width: 200px;
  /*margin: 3% 0;*/
}
