<div class='reviewForm'>
  <div class='reviewForm__header'>
    <img class='reviewForm__header__img' src='../../icons/arrow_left.svg' />
    <h1 class='reviewForm__header__text table__header'>Напишите Ваш отзыв</h1>
  </div>
  <div class='reviewForm__body'>
    <textarea
      class='reviewForm__body__text'
      type='text'
      placeholder='Ваш отзыв'
    ></textarea>
    <button class='reviewForm__body__button buttonLogin' type='submit'>
      Отправить отзыв
    </button>
  </div>
</div>
