<form class='reviewForm'>
  <div class='reviewForm__header'>
    <img class='reviewForm__header__img' src='/icons/arrow_left.svg' />
    <h1 class='reviewForm__header__text table__header'>Напишите Ваш отзыв</h1>
  </div>
  <div class='reviewForm__body'>
    <select class='rating__form'>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9</option>
      <option value='10'>10</option>
    </select>

    <textarea
      class='reviewForm__body__text'
      type='text'
      placeholder='Ваш отзыв'
    ></textarea>
    <button class='reviewForm__body__button buttonLogin' type='submit'>
      Отправить отзыв
    </button>
  </div>
</form>
