@media (max-width: 1150px) {
  .content-block {
    width: 100px;
  }
}
.content-block {
  /*width: 1330px;*/
  width: 80%;
  min-height: 100vh;
  /*background-color: #ffffff;*/
  background: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*border-right: 1px solid white;*/
  /*border-left: 1px solid white;*/
  /*display: flex;*/
  /*justify-content: center;*/
}
