<div class='rewiewForm'>
  <div class='rewiewForm__header'>
    <img class='rewiewForm__header__img' src='../../icons/arrow_left.svg' />
    <h1 class='rewiewForm__header__text table__header'>Напишите Ваш отзыв</h1>
  </div>
  <div class='rewiewForm__body'>
    <textarea
      class='rewiewForm__body__text'
      type='text'
      placeholder='Ваш отзыв'
    ></textarea>
    <button class='rewiewForm__body__button buttonLogin' type='submit'>
      Отправить отзыв
    </button>
  </div>
</div>