<form class="signupForm">
    <input class="loginInput" placeholder="login">
    <input class="emailInput" placeholder="email">
    <input class="passwordInputFirst" placeholder="password">
    <input class="passwordInputSecond" placeholder="password">
    <button class="signupButton" type="submit">Войти</button>
</form>
