<div class='signup'>
  <div class='signup__main'>
    <img class='back-img' src='../../icons/arrow_left.svg' />
    <form class='signup__main__signup-form'>
      <span class='sign-title'>Регистрация</span>
      <span class='text-form'>Логин</span>
      <div class='signin__main__login-form__wrap'>
        <input class='login-inputSignup' />
        <span class='error-login'></span>
      </div>
      <span class='text-form'>Электронная почта</span>
      <div class='signin__main__login-form__wrap'>
        <input class='emailInput' />
        <span class='errorEmail'></span>
      </div>
      <span class='text-form'>Дата рождения</span>
      <div class='signin__main__login-form__wrap'>
        <input class='dateInput' type='date' id='birthday' name='birthday' />
        <span class='errorDate'></span>
      </div>
      <span class='text-form'>Пароль</span>
      <div class='signin__main__login-form__wrap'>
        <input class='password-input-first' type='password' />
        <span class='error-password'></span>
      </div>
      <span class='text-form'>Пароль</span>
      <div class='signin__main__login-form__wrap'>
        <input class='password-input-second' type='password' />
        <span class='error-password'></span>
      </div>

      <div class='signin__main__login-form__container-login'>
        <button class='signup-button' type='submit'>Войти</button>
        <div class='redirect-to-signin' data-section='signin'>
          Авторизоваться ?
        </div>
      </div>

    </form>
  </div>
  <div class='signup__main__error'></div>

</div>