.signup {
  width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.signup.active {
  opacity: 1;
  /*visibility: visible;*/
}

.signup__main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 1s ease 0s;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 90%;
  height: 60%;
  padding: 55px 85px;
}

.signup-button {
  /*width: 100px;*/
  padding-left: 30px;
  padding-right: 30px;
  height: 35px;
  border-radius: 24px;
  border: white;
  color: white;
  font-size: 16px;
  background-color: #333333;
  transition: background 0.3s ease;
}

.signup-button:hover {
  background: #57b846;
}

.redirect-to-signin {
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  color: #555555;
  transition: color 0.3s ease;
}

.redirect-to-signin:hover {
  color: #57b846;
}

.errorStringSignup {
  color: #d95a5a;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 1s ease 0s;
}

.popupSignup {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.popupSignup.active {
  opacity: 1;
  /*visibility: visible;*/
}
