<div class='signup'>
  <div class='signupMain'>
    <img class='sign-frame-img' src='../../icons/arrow_left.svg' />
    <form class='signupForm'>
        <span class="signTitle">Регистрация</span>
        <span class="textForm">Логин</span>
        <div class="wrap">
            <input class='loginInputSignup' />
            <span class="errorLogin"></span>
        </div>
        <span class="textForm">Электронная почта</span>
        <div class="wrap">
            <input class='emailInput' />
            <span class="errorEmail"></span>
        </div>
        <span class="textForm">Пароль</span>
        <div class="wrap">
            <input class='passwordInputFirst' type='password' />
            <span class="errorPassword"></span>
        </div>
        <span class="textForm">Пароль</span>
        <div class="wrap">
            <input class='passwordInputSecond' type='password' />
            <span class="errorPassword"></span>
        </div>

        <div class="containerLogin">
            <button class='signupButton' type='submit'>Войти</button>
            <div class='redirectToSignin' data-section='signin'>
                Авторизоваться ?
            </div>
        </div>

    </form>
  </div>
  <div class='errorStringSignup'></div>

</div>
