<form class="signupForm">
    <input class="loginInput" placeholder="login">
    <input class="emailInput" placeholder="email">
    <input class="passwordInputFirst" type="password" placeholder="password">
    <input class="passwordInputSecond" type="password" placeholder="password">
    <button class="signupButton" type="submit">Войти</button>
</form>
<div class="redirectToLogin" data-section="login">
    Вы уже зарегистрированы ?
</div>
