<form class='signupForm'>
  <input class='loginInputSignup' placeholder='Логин' />
  <input class='emailInput' placeholder='Электронная почта' />
  <input class='passwordInputFirst' type='password' placeholder='Пароль' />
  <input class='passwordInputSecond' type='password' placeholder='Пароль' />
  <button class='signupButton' type='submit'>Войти</button>
</form>
<div class='redirectToLogin' data-section='signin'>
  Вы уже зарегистрированы ?
</div>
<div class='errorString'></div>