<div class="favorite">
    <div class="favorite__header">
        <div class="favorite__header__title">{{title}}</div>
        <div class="favorite__header__create"><div class="redirect-to-favorite">{{redirect}}</div></div>
    </div>
    <div class="favorite__body">

    </div>
</div>
