@import './components/FilmSelection/filmSelection.css';
@import './components/SelectCollection/contentBlockElement.css';
@import './components/Signin/signin.css';
@import './components/Header/header.css';
@import './components/ContentBlock/contentBlock.css';
@import './components/Signup/signup.css';
@import './components/Footer/footer.css';
@import './components/Description/description.css';
@import './components/AdditionalInfo/additionalInfo.css';
@import './components/TableStyle/TableStyle.css';
@import './components/countLikeActor/countLikeActor.css';
@import './components/Button/button.css';
@import './components/countLikeFilm/countLikeFilm.css';
@import './components/UserDataForm/userDataForm.css';
@import './components/Review/review.css';
@import './components/ReviewForm/reviewForm.css';
@import './components/inputButton/inputButton.css';
@import './components/ButtonSubmit/buttonSubmit.css';
@import './components/Image/image.css';
@import './components/filmCard/filmCard.css';
@import './components/ActorCard/actorCard.css';
@import './components/Settings/settings.css';
@import './components/Slider/slider.css';
@import './components/ActorInfo/actorInfo.css';
@import './components/FavoriteList/favoriteList.css';
@import './components/Modal/modal.css';
@import './router/Page404/page404.css';
@import './components/DirectoryFilms/directoryFilms.css';


:root {
  --background-color: rgb(81, 82, 58, 0.1);
  --content-block-color: rgb(255, 255, 255);
  --block-width: 80%;
}

body {
  padding: 0;
  margin: 0;
  background: black;
  font-family: 'Montserrat', sans-serif;
}

body.none-active {
  overflow: hidden;
}

@media (max-width: 1150px) {
  .content-block,
  .header,
  .footer {
    width: 100%;
  }

  .header_brand-header {
    margin-left: 20px;
  }

  .header_login-header {
    margin-right: 20px;
  }
}
