@import "./components/footer/footer.css";
@import "./components/header/header.css";
@import "./components/contentBlock/contentBlock.css";

body {
  background-color: #ebebe7;
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}
#contentBlock > p {
  height: 2000px;
}

#root {

}