<div class='statistic-chart noactive'>
  <h1 class='statistic-chart__title'>Статистика опроса</h1>
  <div class='simple-bar-chart'>

    <div class='item' data-section='1' style='--clr: #5EB344; --val: 80'>
      <div class='label'>1</div>
      <div class='value'>80</div>
    </div>

    <div class='item' data-section='2' style='--clr: #FCB72A; --val: 1'>
      <div class='label'>2</div>
      <div class='value'>1</div>
    </div>

    <div class='item' data-section='3' style='--clr: #F8821A; --val: 100'>
      <div class='label'>3</div>
      <div class='value'>100</div>
    </div>

    <div class='item' data-section='4' style='--clr: #E0393E; --val: 15'>
      <div class='label'>4</div>
      <div class='value'>15</div>
    </div>

    <div class='item' data-section='5' style='--clr: #963D97; --val: 1'>
      <div class='label'>5</div>
      <div class='value'>1</div>
    </div>

    <div class='item' data-section='6' style='--clr: #069CDB; --val: 90'>
      <div class='label'>6</div>
      <div class='value'>90</div>
    </div>
    <div class='item' data-section='7' style='--clr: #9ec3d3; --val: 90'>
      <div class='label'>7</div>
      <div class='value'>90</div>
    </div>
    <div class='item' data-section='8' style='--clr: #a476c4; --val: 64'>
      <div class='label'>8</div>
      <div class='value'>64</div>
    </div>
    <div class='item' data-section='9' style='--clr: #3c3e3f; --val: 90'>
      <div class='label'>9</div>
      <div class='value'>90</div>
    </div>
    <div class='item' data-section='10' style='--clr: #833675; --val: 90'>
      <div class='label'>10</div>
      <div class='value'>90</div>
    </div>
  </div>
</div>