<div class="favorite-films">
    <div class="favorite-films__header">
        <div class="film-favorite__header__title">Список фильмов</div>
        <div class="film-favorite__header__create"><div class="create-direction">Создать папку</div></div>
    </div>
</div>
