<div class='admin-panel'>
  <div class='admin-panel__csat center-text'>csat</div>
  <div class='admin-panel__add-film center-text'>Добавить фильм</div>
  <div class='admin-panel__moder center-text'>Модераторы</div>
</div>