.admin-panel {
    display: grid;
    color: white;
    grid-template-columns: 100px 180px;
    grid-gap: 30px;
    justify-content: center;
    padding-top: 100px;
}

.center-text {
    text-align: center;
    padding: 15px 6px;
    border-radius: 8px;
    border: 2px solid white;
    /*margin-top: 5px;*/
    transition: all 0.5s ease;
}

.center-text:hover {
    background: #f5c518;
    color: black;
    border: 2px solid #f5c518;
}

.center-text.active {
    background: #f5c518;
    color: black;
    border: 2px solid #f5c518;
}

.statistic-chart.noactive {
    display: none;
}

.add-film.noactive {
    display: none;
}
