/*@media screen and (max-width: 1370px) {*/
/*  .film-selection_film_select {*/
/*    width: 40%;*/
/*  }*/
/*  .film-selection_film_select_p {*/
/*    display: none;*/
/*  }*/
/*}*/

.film-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.film-selection_films {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.film-selection_name {
  width: 85%;
  margin-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  border-bottom: 1px solid black;
  color: var(--color-text);
  font-family: Montserrat, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  text-align: left;
}

.film-selection_film {
  cursor: pointer;
  width: 250px;
  height: 100%;
  margin: 2%;
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.19);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}

.film-selection_film:hover {
  transform: scale(1.1);
}

.film-selection_film_poster {
  width: 60%;
  height: 170px;
  margin-top: 15%;
  margin-bottom: 10%;
}

.film-selection_film_rating {
  height: 50%;
  width: 75%;
  margin-top: 5%;
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.film-selection_film_rating_p {
  margin-top: 0;
  margin-bottom: 0;
  /*width: 20%;*/
}

.film-selection_film_name {
  width: 80%;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;

  color: #0b0a0a;
  font-family: Montserrat, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.51px;
  margin-top: 0;
  margin-bottom: 0;
}

.film-selection_film_select {
  width: 65%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 15%;
  border-radius: 8px;
  border: 1px solid #cdc6c6;
  background: rgba(217, 217, 217, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    width,
    background 0.3s ease;
}
.film-selection_film_select:hover {
  background: rgba(107, 103, 103, 0.3);
}

.film-selection_film_select_img {
  width: 10%;
  height: auto;
}

.film-selection_film_select_p {
  width: 80%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-text);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.42px;
  text-align: center;
  vertical-align: middle;
}

.select-collection__frame__list__item:hover {
  cursor: pointer;
}
