.film-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.film-selection_films {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-wrap: wrap;
  /*width: 250px;*/
  width: 100%;
  color: white;
  padding: 0;
}

.film-selection_name {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  /*border-bottom: 1px solid #F5C518;*/
  /*color: #F5C518;*/
  font-family: Montserrat, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  text-align: left;
}
