<div class='filmSelection'>
  <div class='filmSelection_name'>
    {{collection_name}}
  </div>
  <div class='filmSelection_films'>
    {{#each films}}
      <div class='filmSelection_film'>
        <img class='filmSelection_film_poster' src='{{poster_href}}' />
        <p class='filmSelection_film_name'>{{name}}</p>
        <div class='filmSelection_film_rating'>
          <img
            class='filmSelection_film_rating_img'
            src='../../icons/star.svg'
          />
          <p class='filmSelection_film_rating_p'>
            {{rating}}
          </p>
        </div>
        <div class='filmSelection_film_select'>
          <img
            class='filmSelection_film_select_img'
            src='../../icons/plus.svg'
          />
          <p class='filmSelection_film_select_p'>
            К просмотру
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</div>