<div class='film-selection'>
    <div class="film-selection__header">
        <div class="film-selection__header__yellow"></div>
        <div class='film-selection_name'>
            {{collection_name}}
        </div>
    </div>
  <ul class='film-selection_films'>
    {{#if haveFilms}}{{else}}
      <div><p>К сожалению, но ничего не найдено.</p></div>
    {{/if}}
  </ul>
</div>
