<div class="filmSelection">
  <div class="filmSelection_name">
    Боевики
  </div>
  <div class="filmSelection_films">

    <div class="filmSelection_film">
      <img class="filmSelection_film_poster" src="../../icons/Poster.jpg" />
      <p class="filmSelection_film_name">Неудержимые 4</p>
      <div class="filmSelection_film_rating">
        <img class="filmSelection_film_rating_img" src="../../icons/star.svg" />
        <p class="filmSelection_film_rating_p">
          4.5
        </p>
      </div>
      <div class="filmSelection_film_select">
        <img class="filmSelection_film_select_img" src="../../icons/plus.svg" />
        <p class="filmSelection_film_select_p">
          К просмотру
        </p>
      </div>

    </div>

    <div class="filmSelection_film">
      <img class="filmSelection_film_poster" src="../../icons/Poster.jpg" />
      <p class="filmSelection_film_name">Неудержимые 4</p>
      <div class="filmSelection_film_rating">
        <img class="filmSelection_film_rating_img" src="../../icons/star.svg" />
        <p class="filmSelection_film_rating_p">
          4.5
        </p>
      </div>
      <div class="filmSelection_film_select">
        <img class="filmSelection_film_select_img" src="../../icons/plus.svg" />
        <p class="filmSelection_film_select_p">
          К просмотру
        </p>
      </div>

    </div>

    <div class="filmSelection_film">
      <img class="filmSelection_film_poster" src="../../icons/Poster.jpg" />
      <p class="filmSelection_film_name">Неудержимые 4</p>
      <div class="filmSelection_film_rating">
        <img class="filmSelection_film_rating_img" src="../../icons/star.svg" />
        <p class="filmSelection_film_rating_p">
          4.5
        </p>
      </div>
      <div class="filmSelection_film_select">
        <img class="filmSelection_film_select_img" src="../../icons/plus.svg" />
        <p class="filmSelection_film_select_p">
          К просмотру
        </p>
      </div>

    </div>

    <div class="filmSelection_film">
      <img class="filmSelection_film_poster" src="../../icons/Poster.jpg" />
      <p class="filmSelection_film_name">Неудержимые 4</p>
      <div class="filmSelection_film_rating">
        <img class="filmSelection_film_rating_img" src="../../icons/star.svg" />
        <p class="filmSelection_film_rating_p">
          4.5
        </p>
      </div>
      <div class="filmSelection_film_select">
        <img class="filmSelection_film_select_img" src="../../icons/plus.svg" />
        <p class="filmSelection_film_select_p">
          К просмотру
        </p>
      </div>

    </div>

    <div class="filmSelection_film">
      <img class="filmSelection_film_poster" src="../../icons/Poster.jpg" />
      <p class="filmSelection_film_name">Неудержимые 4</p>
      <div class="filmSelection_film_rating">
        <img class="filmSelection_film_rating_img" src="../../icons/star.svg" />
        <p class="filmSelection_film_rating_p">
          4.5
        </p>
      </div>
      <div class="filmSelection_film_select">
        <img class="filmSelection_film_select_img" src="../../icons/plus.svg" />
        <p class="filmSelection_film_select_p">
          К просмотру
        </p>
      </div>

    </div>

    <div class="filmSelection_film">
      <img class="filmSelection_film_poster" src="../../icons/Poster.jpg" />
      <p class="filmSelection_film_name">Неудержимые 4</p>
      <div class="filmSelection_film_rating">
        <img class="filmSelection_film_rating_img" src="../../icons/star.svg" />
        <p class="filmSelection_film_rating_p">
          4.5
        </p>
      </div>
      <div class="filmSelection_film_select">
        <img class="filmSelection_film_select_img" src="../../icons/plus.svg" />
        <p class="filmSelection_film_select_p">
          К просмотру
        </p>
      </div>

    </div>

  </div>
</div>