/*@media screen and (max-width: 1370px) {*/
/*  .filmSelection_film_select {*/
/*    width: 40%;*/
/*  }*/
/*  .filmSelection_film_select_p {*/
/*    display: none;*/
/*  }*/
/*}*/

.filmSelection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.filmSelection_films {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.filmSelection_name {
  /*padding-left: .2rem;*/
  /*border-left: 5px solid #dba506;*/
  width: 100%;
  margin-top: 40px;
  padding-bottom: 10px;
  /*padding-left: 5%;*/
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  text-align: left;
}
