<div class='slider-full'>
  <div class='slider-name'></div>
  <div class='slider-wrap'>
    <img src='/icons/back.png' class='line-prev' />
    <div class='slider'>
      <div class='slider-container'></div>
    </div>
    <img src='/icons/next.png' class='line-next' />
  </div>
</div>