
<div class="slideshow-container">

    <div class="mySlides fade">
        <a href="http://84.23.54.38/"><img class="slide-image" src="/icons/netflix.png"></a>
        <div class="text">Смотрите кино в онлайн кинотеатре</div>
    </div>
    <div class="mySlides fade">
        <a href="https://vkplay.ru/"><img class="slide-image" src="/icons/slider-vk-play2.jpg"></a>
    </div>
    <div class="mySlides fade">
        <a href="http://adhub.store:8082/"><img class="slide-image" src="/icons/slider10.jpg"></a>
        <div class="text">Сервис по подбору рекламы для вашего сайта</div>
    </div>
    <div class="mySlides fade">
        <a href="https://vk.com/vkvideo"><img class="slide-image" src="/icons/commercial-vk-video.jpg"></a>
    </div>
    <div class="mySlides fade">
        <a href="#"><img class="slide-image" src="/icons/slider6.png"></a>
    </div>

<!--    <a class="prev" >&#10094;</a>-->
<!--    <a class="next" >&#10095;</a>-->
</div>
<br>
