<div class='slider-full'>
  <div class='slider-name'></div>
  <div class='slider-wrap'>
    <img src='/icons/back.webp' class='line-prev' alt=""/>
    <div class='slider'>
      <div class='slider-container'></div>
    </div>
    <img src='/icons/next.webp' class='line-next' alt=""/>
  </div>
</div>
