<div class='slideshow-container noactive'>

  <div id='banner-container'></div>

  <div class='mySlides fade'>
    <a href='https://hooli-smotrim.ru/'><img
        alt=""
        class='slide-image'
        src='/icons/netflix.webp'
      /></a>
  </div>

  <div class='mySlides fade'>
    <a href='https://vkplay.ru/'><img
        alt=""
        class='slide-image'
        src='/icons/slider-vk-play2.webp'
      /></a>
  </div>

  <div class='mySlides fade'>
    <a href='https://vk.com/vkvideo'><img
        alt=""
        class='slide-image'
        src='/icons/commercial-vk-video.webp'
      /></a>
  </div>
</div>

<div class='slider-full noactive'>
  <div class='slider-name'>
      <div class='film-selection__header'>
          <div class='film-selection__header__yellow'></div>
          <div class='film-selection_name'>Новинки</div>
      </div>
  </div>
  <div class='slider-wrap'>
    <img src='/icons/back.webp' class='slider-prev' alt=""/>
    <div class='slider'>
      <div class='slider-container'></div>
    </div>
    <img src='/icons/next.webp' class='slider-next' alt=""/>
  </div>
</div>
