<div class='slideshow-container noactive'>

  <div id='banner-container'></div>

  <div class='mySlides fade'>
    <a href='http://84.23.54.38/'><img
        alt=""
        class='slide-image'
        src='/icons/netflix.webp'
      /></a>
  </div>

  <div class='mySlides fade'>
    <a href='https://vkplay.ru/'><img
        alt=""
        class='slide-image'
        src='/icons/slider-vk-play2.webp'
      /></a>
  </div>

  <div class='mySlides fade'>
    <a href='https://vk.com/vkvideo'><img
        alt=""
        class='slide-image'
        src='/icons/commercial-vk-video.webp'
      /></a>
  </div>
</div>

<div class='slider-full noactive'>
  <div class='slider-name'></div>
  <div class='slider-wrap'>
    <img src='/icons/back.webp' class='slider-prev' alt=""/>
    <div class='slider'>
      <div class='slider-container'></div>
    </div>
    <img src='/icons/next.webp' class='slider-next' alt=""/>
  </div>
</div>
