<div class='count-like-actor'>
  <button class='button button__text count-like-actor__button'>Любимая звезда</button>
  <p class='count-like-actor__text'>Нравиться {{body.number}} пользователям</p>
</div>