<div class='film-selection_film' data-section='{{id}}'>
  <div class='film-selection_film-poster'>
    <div class='film-selection_film_header'>
      <img class='image-watchlist' src='/icons/bookmark.png' />
      <div class='film-rating'>
        {{rating}}
      </div>
    </div>
  </div>
  <div class='film-selection_film-information'>
    <div class='film-selection_film_name'>{{title}}</div>
  </div>
</div>