<div class='filmSelection_film' data-section='{{id}}'>
  <div
    class='filmSelection_film-poster'
    style='background-image: url("{{poster}}")'
  >
    <div class='filmSelection_film_header'>
      <img class='image-watchlist' src='/icons/bookmark.png' />
      <div class='film-rating'>
        {{rating}}
      </div>
    </div>
  </div>
  <div class='filmSelection_film-information'>
    <div class='filmSelection_film_name'>{{title}}</div>
  </div>
</div>