<!-- 
    {
    person: {
      firstname: "Yehuda",
      lastname: "Katz",
    },
  }
 -->
<link
  rel="stylesheet"
  href="/home/alfaiv/TechPark/Project2/2023_2_Vkladyshi/public/index.css"
/>
<div class="film-score">
  <img class="film-score__star" src="../../icons/star_score.svg" alt="" />
  <img class="film-score__star" src="../../icons/star_score.svg" alt="" />
  <img class="film-score__star" src="../../icons/star_score.svg" alt="" />
  <img class="film-score__star" src="../../icons/star_score.svg" alt="" />
  <img class="film-score__star" src="../../icons/star_score.svg" alt="" />

  <div class="film-score__score film-score__bad_score">5.7</div>

  <div class="film-score__watched">1117 посмотрели</div>

  <img class="film-score__button" src="../../icons/watch.svg" alt="" />
</div>
