<!-- 
    {
    person: {
      firstname: "Yehuda",
      lastname: "Katz",
    },
  }
 -->
<link
  rel="stylesheet"
  href="/home/alfaiv/TechPark/Project2/2023_2_Vkladyshi/public/index.css"
/>
<div class="film-score">
  <img class="star__film-score" src="../../icons/star_score.svg" alt="" />
  <img class="star__film-score" src="../../icons/star_score.svg" alt="" />
  <img class="star__film-score" src="../../icons/star_score.svg" alt="" />
  <img class="star__film-score" src="../../icons/star_score.svg" alt="" />
  <img class="star__film-score" src="../../icons/star_score.svg" alt="" />

  <div class="score__film-score bad_score__film-score">5.7</div>

  <div class="watched__film-score">1117 посмотрели</div>

  <img class="button__film-score" src="../../icons/watch.svg" alt="" />
</div>
