.change-user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  width: var(--block-width);
  background: white;
  /*margin: auto;*/
}

.change-user-data__header {
  text-align: left;
  font-size: 20px;
  color: #555555;
  margin-bottom: 5px;
  margin-top: 25px;
}

.error-image {
  margin-bottom: 20px;
}

.change-user-data__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;

  margin: 2% auto;
}

.change-user-data__form__file[type='file'] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  width: 0%;
  margin-bottom: 10px;
}

.change-user-data__form__file {
  /*margin-bottom: 20px;*/
}

.change-user-data__form__img {
  /*width: 7%;*/
  height: auto;

  margin-right: 5%;
  margin-left: 0;
}

.change-user-data__form__apply {
  width: 50%;
}

.check__all_comments {
  font-size: 26px;
  /*width: auto;*/
  /*height: 20px;*/
  padding: 5px 15px;
  //margin-bottom: 15%;
  border-radius: 8px;
  border: 1px solid #cdc6c6;
  background: rgba(217, 217, 217, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.check__all_comments:hover {
  cursor: pointer;
}

.user-data-buttons {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
