.film-page__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-page__comments__header {
  width: 80%;
  font-size: 32px;
  color: white;
  margin-bottom: 30px;
}

.film-page__theme {
  /*background: rgb(31,31,31);*/
  width: 100%;
  display: flex;
  justify-content: center;
}

.film-page__theme__content-block {
  width: 80%;
  display: grid;
  /*grid-template-columns: 25% 75%;*/
  grid-template-columns: minmax(300px, auto) auto;
  grid-gap: 30px;
  margin-top: 20px;
  padding-bottom: 100px;
}

.param-list {
  font-size: 19px;
  text-align: center;
  padding: 0;
}

.player {
  grid-row-end: 4;
  grid-row-start: 1;
}

.film-name {
  font-size: 57px;
  color: white;
  text-align: center;
  line-height: 44px;
}

.info {
  font-size: 15px;
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column-start: 2;
  grid-row-start: 2;


}

.number {
  background-color: #73a32f;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.rating {
  width: 500px;
  height: 100px;
  background-color: hsla(0, 0%, 100%, 0.18);
  color: white;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
}

.left {
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 30px;
}

.right {
  margin-right: 30px;
  display: flex;
  align-content: center;
  align-items: center;
}

.number {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 24px;
}

.count {
  margin-left: 20px;
  font-size: 19px;
}

.column {
  color: white;
  grid-column-start: 2;
}

.review-button {
  font-size: 19px;
}

.review-button:hover {
  opacity: 0.7;
}

.film-page {
  /*background: rgb(31,31,31);*/
  font-family: Montserrat;
  position: relative;
  margin-top: 80px;
}

.video-content {
  width: 250px;
  height: 420px;
}

.video-buttons {
  margin-top: 20px;
  display: flex;
  min-width: 300px;
  height: 10%;
  color: white;
}

.video-content-image {
  /*background-image: url("jn.jpg");*/
  width: 250px;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  /*opacity: 0.6;*/
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.18);
  cursor: not-allowed;
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.trailer:hover, .cinema:hover {
  opacity: 0.8;
}

.trailer-player-image {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin-right: 10px;
}

.cinema {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  /*opacity: 0.6;*/

  border-radius: 10px;
  margin-left: 20px;
  background-color: hsla(0, 0%, 100%, 0.18);
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.actors-header {
  color: white;
  font-size: 32px;
}

.actor {
  width: 100px;
  margin-right: 20px;
  margin-top: 40px;
}

.actor-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 20px;
  line-height: 20px;

  color: white;
}

.actors-list {
  display: flex;
  flex-wrap: wrap;
}

.actor-poster {
  /*background-image: url("/icons/star.png");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.actors {
  grid-column-end: 3;
  grid-column-start: 1;
}

.basket {
  margin-left: 20px;
}

.basket-image {
  width: 50px;
  height: 50px;
  opacity: 0.6;
}

@media (max-width: 1150px) {
  .actors {
    grid-row: 5;
  }

  .video-content {
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    height: auto;

  }

  .video-buttons {
    display: flex;
    justify-content: center;
  }

  .video-content-image {
    width: 300px;
    height: 420px;
  }

  .film-page__theme__content-block {
    /*width: 100%;*/
    /*grid-template-columns: auto;*/
    /*flex-direction: column;*/

    /*justify-content: center;*/
    width: 100%;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

  }

  .rating {
    width: 500px;
    grid-row: 4;
    grid-column: 1;
  }

  .film-name {
    text-align: center;
  }

  .player {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    flex-direction: column;
    width: 100%;
    grid-row: 2;
    grid-column: 1;
  }

  .column {
    text-align: center;
    margin: 0;
    padding: 0;
    grid-row: 1;
    grid-column: 1;
    height: 100px;
  }

  .param-list {
    text-align: center;
  }

  .info {
    text-align: center;
    grid-row: 3;
    grid-column: 1;
  }
}
