<div class='moderator noactive'>
  <div class='moderator__header'>
    <form class='moderator__header__search'>
      <button class='moderator-submit' type='submit'>Поиск</button>
      <input class='moderator-search' placeholder='Поиск' />
      <div class='moderator-role'>
        <select class='moderator-role__form'>
          <option value='' disabled selected>Выберите роль</option>
          <option value='super'>админ</option>
          <option value='moderator'>модератор</option>
          <option value='user'>юзер</option>
          <option value=''>любые</option>
        </select>
      </div>
    </form>
    <div class='moderator__header__titles'>
      <div class='moderator-titles'>
        <div class='moderator-titles__login'>Логин</div>
        <div class='moderator-titles__role'>Права</div>
      </div>
    </div>
  </div>
  <div class='moderator__body'></div>

  <div class='moderator__more'>
    <div class='more-elements noactive'><img
        class='more-elements__img'
        src='/icons/strelka-white.svg'
        alt=""
    /></div>
  </div>
</div>
