.button {
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);

  padding: 10px 20px;
}
.button__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}
