.calendar {
  display: flex;
  flex-flow: column;
  align-items: center;

  color: #ffffff;
  margin: auto;
}

.calendar__month {
  font-weight: 800;
  margin: 1rem 0 0;
}

.calendar__days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  flex-wrap: wrap;

  list-style: none;
}

.calendar__days__day {
  display: flex;

  width: 10rem;
  height: 10rem;

  margin: 0.25rem;

  flex-flow: column;

  border-radius: 0.2rem;

  padding: 1rem;

  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(118, 121, 160, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.calendar__days__day:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.3);
}

.calendar__days__time {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.calendar__days__day_today {
  font-weight: 800;
  background: #ffffffa6;
}

@media (max-width: 1300px) {
  .calendar__days__day {
    width: 6rem;
    height: 6rem;

    margin: 0.25rem;

    border-radius: 0.2rem;

    padding: 0.5rem;

    font-weight: 300;
    font-size: 0.5rem;
  }

  .calendar__days__time {
    font-size: 0.6rem;
    margin: 0 0 0.5rem 0;
    font-weight: 500;
  }
}
