.calendar {
  display: flex;
  flex-flow: column;
  align-items: center;
  /*color: #f5c518;*/
  /* color: #ffffff; */
  margin: auto;
}

.calendar__text {
  color: white;
}

.calendar__month {
  color: white;
  font-weight: 800;
  margin: 1rem 0 0;
}

.calendar__days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  /*display: flex;*/

  flex-wrap: wrap;

  list-style: none;

  padding: 0;
}

.calendar__days__day {
  color: white;
  display: flex;
  cursor: pointer;

  width: 9rem;
  height: 9rem;

  margin: 0.25rem;

  flex-flow: column;

  /*border-radius: 0.2rem;*/

  padding: 1rem;

  font-weight: 300;
  font-size: 15px;
  line-height: normal;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(118, 121, 160, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /*transition: all 0.5s ease;*/
}

.calendar__days__day:hover {
   /*border: 3px solid rgba(255, 255, 255, 0.7); */
   background: rgba(255, 255, 255, 0.3);

  border: 3px solid #ffffff;
  /* background: #f5c51846; */
}

.calendar__days__time {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.calendar__days__subscribe {
  width: 30%;
  height: auto;
  fill: orange;
}

.calendar__days__day_today {
  font-weight: 800;
  /* background: #ffffffa6; */
  background: #f5c51846;
}

@media (max-width: 1300px) {
  .calendar__days__day {
    width: 6rem;
    height: 6rem;

    margin: 0.25rem;

    border-radius: 0.2rem;

    padding: 0.7rem;

    font-weight: 300;
    font-size: 0.5rem;
  }

  .calendar__days__time {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
  }
}

@media (max-width: 768px) {
  .calendar__days {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .calendar__days {
    .calendar__days__day {
      width: 4rem;
      height: 4rem;

      margin: 0.25rem;

      border-radius: 0.2rem;

      padding: 0.3rem;

      font-weight: 300;
      font-size: 0.4rem;
    }
    .calendar__days__time {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 505px) {
  .calendar__days {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .calendar__days__day {
      width: 85px;
      height: 85px;

      margin: 0.25rem;

      border-radius: 0.2rem;
      font-size: 9px;
    }
    .calendar__days__time {
      font-size: 0.9rem;
    }

    .calendar__days {
      display: flex;
      flex-direction: row;
    }
  }
}
