<div class='header__container'>
  <div class='header__container main-container'>
    <div class='header__container image-container'>
<!--        <iframe class="mbr-background-video" id="ytplayer-7e4446" style="margin-top: 0px; max-width: initial; transition-property: opacity; transition-duration: 1000ms;  background-size: cover; background-position: center center; pointer-events: none; position: absolute; top: 0px; left: 0px; min-height: 100vh; width: 100%; object-fit: cover; " frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/r2ofrRyJRZo?autoplay=1&amp;mute=0&amp;controls=0&amp;enablejsapi=1&amp;allowfullscreen=true&amp;iv_load_policy=3&amp;modestbranding=1&amp;origin=https%3A%2F%2Flab-mobirise-ai.ui-api.com&amp;rel=0&amp;mode=transparent&amp;showinfo=0&amp;html5=1&amp;version=3&amp;playerapiid=iframe_YTP_1624972482514&amp;widget_referrer=https%3A%2F%2Fai.mobirise.com%2F&amp;widgetid=1"></iframe>-->

        <div class='header__container__shadow box-shadow'></div>
      {{#if mainPage}}

                  <div class='header__container__text'>
          <div class='first-text'>
            Добро пожаловать!
<!--          </div>-->
<!--                          <div class="second-text">-->
<!--                              Удачи в поисках хорошего кино.-->
<!--                          </div>-->
<!--        </div>-->
      {{/if}}
    </div>
  </div>
</div>


<!--<section data-bs-version="5.1" class="header18 cid-tWgDzB17SE mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/r2ofrRyJRZo?autoplay=1&amp;loop=1&amp;playlist=r2ofrRyJRZo&amp;start=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-16-tWgDzB17SE">-->
<!--    <div class="mbr-background-video-preview" style="display: block; background-size: cover; background-position: center center; background-image: url(&quot;https://img.youtube.com/vi/r2ofrRyJRZo/maxresdefault.jpg&quot;);"></div>-->
<!--    <div style="overflow: hidden; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px;">-->
<!--        <div style="background: rgb(0, 0, 0); inset: 0px;">-->
<!--            <div class="mbr-video-foreground" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden;">-->
<!--                <iframe class="mbr-background-video" id="ytplayer-7e4446" style="margin-top: 0px; max-width: initial; transition-property: opacity; transition-duration: 1000ms; pointer-events: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; transform: scale(1.2);" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="INSIDE OUT 2 – FULL TRAILER (2024) Disney Pixar Studios" width="1872" height="1053" src="https://www.youtube.com/embed/r2ofrRyJRZo?autoplay=1&amp;mute=0&amp;controls=0&amp;enablejsapi=1&amp;allowfullscreen=true&amp;iv_load_policy=3&amp;modestbranding=1&amp;origin=https%3A%2F%2Flab-mobirise-ai.ui-api.com&amp;rel=0&amp;mode=transparent&amp;showinfo=0&amp;html5=1&amp;version=3&amp;playerapiid=iframe_YTP_1624972482514&amp;widget_referrer=https%3A%2F%2Fai.mobirise.com%2F&amp;widgetid=1"></iframe>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="mbr-overlay" style="opacity: 1; background-color: rgb(0, 0, 0);"></div>-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="content-wrap col-12 col-md-10">-->
<!--                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1 animate__animated animate__delay-1s animate__fadeIn">-->
<!--                    <strong>Кинопоиск альтернатива</strong>-->
<!--                </h1>-->
<!--                <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7 animate__animated animate__delay-1s animate__fadeIn">Найди свой фильм среди миллионов!</p>-->
<!--                <div class="mbr-section-btn">-->
<!--                    <a class="btn btn-white-outline display-7 animate__animated animate__delay-1s animate__fadeIn" href="#">Поиск</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
