<div class='header__container'>
  <div class='header__container main-container'>
    <div class='header__container image-container'>
      <div class='header__container__shadow box-shadow'></div>
      {{#if mainPage}}
        <div class='header__container__text'>
          <div class='first-text'>
            Добро пожаловать!
          </div>
          <!--                <div class="second-text">-->
          <!--                    Удачи в поисках хорошего кино.-->
          <!--                </div>-->
        </div>
      {{/if}}
    </div>
  </div>
</div>