.image-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*transform: scale(1.25) translateY(-10%);*/

  /*background-image: none;*/
  background-size: cover;
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
}

/*.header__container {*/
/*    position: relative;*/
/*    flex-direction: column;*/
/*}*/

.header__container {
  /*background-image: none;*/
  position: relative;
  flex-direction: column;
}

.box-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 40%)
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.95) 0,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
}

.header__container__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Центрирует текст по горизонтали */
  color: white;
  width: 70%;
  height: 20%;
}

.video-container {
  width: 100%;
  /*min-height: 100vh;*/
  height: auto;
}

.video-container1 {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Измените значения, чтобы настроить уровень затемнения */
  background: rgb(0 0 0 / 40%)
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.85) 0,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.7) 100%
    );
}

.video-main {
  width: 100%;
  height: 500px;
}

.first-text {
  /*margin-top: 10px;*/
  font-size: 55px;
  /*position: absolute;*/
}

.input-main-email {
  /*width: 100%;*/
  height: 50px;
  width: 90%;
  background-color: transparent;
  border: 1px solid #f3c23c;
  border-radius: 8px 0 0 8px;
  border-right: none;
  color: white;
  font-size: 22px;
  /*transition: all 0.5s ease;*/
  cursor: not-allowed;
}

.input-main-email:hover {
  opacity: 0.8;
  /*box-shadow: 50px 0 50px -30px #F3C23C;*/
}

.main-email {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.send-email-main {
  width: 10%;
  height: 54px;
  background: #f3c23c;
  border-radius: 0 8px 8px 0;
  border: 2px solid #f3c23c;
  color: black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: not-allowed;
  transition: all 0.5s ease;
}

.send-email-main:hover {
  opacity: 0.8;
}

.input-main-email:focus {
  outline: none;
}

.second-text {
  margin-top: 10px;
  font-size: 30px;
}

@media screen and (max-width: 1150px) {
  .video-container {
    margin-top: 50px;
  }

  .first-text {
    font-size: 32px;
  }
}

@media screen and (max-width: 1250px) {
  .input-main-email {
    width: 80%;
  }

  .send-email-main {
    width: 20%;
  }
}

@media screen and (max-width: 700px) {
  .input-main-email {
    width: 70%;
  }

  .send-email-main {
    width: 30%;
  }

  .first-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 450px) {
  .input-main-email {
    width: 60%;
  }

  .send-email-main {
    width: 40%;
  }
}
