.ChangeUserData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: var(--block-width);

  margin: auto;
}

.ChangeUserData__header {
  margin: 1% 0;
  padding: 1% 0;
  border-bottom: 1px solid black;
  width: 100%;
}

.ChangeUserData__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;

  margin: 2% auto;
}

.ChangeUserData__form__file[type='file'] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  width: 0%;
  margin: 0;
}

.ChangeUserData__form__img {
  /*width: 7%;*/
  height: auto;

  margin-right: 5%;
  margin-left: 0;
}

.ChangeUserData__form__apply {
  width: 50%;
}

.check__all_comments {
  font-size: 26px;
  /*width: auto;*/
  /*height: 20px;*/
  padding: 5px 15px;
  //margin-bottom: 15%;
  border-radius: 8px;
  border: 1px solid #cdc6c6;
  background: rgba(217, 217, 217, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.check__all_comments:hover {
  cursor: pointer;
}

.user-data-buttons {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  margin-top: 20px;
  /*width: 200px;*/
}
