<div class='ChangeUserData'>
  <h1 class='ChangeUserData__header table__header'>
    Хотите изменить свои данные?
  </h1>
  <form class='ChangeUserData__form'>
    <input
      type='text'
      class='ChangeUserData__form__new-pass form form__text'
      placeholder='ваш новый логин'
    />
      <input
              type='email'
              class='ChangeUserData__form__new-pass form form__text'
              placeholder='ваш email'
      />

    <input
      type='password'
      class='ChangeUserData__form__new-pass form form__text'
      placeholder='ваш новый пароль'
    />

    <input
      type='password'
      class='ChangeUserData__form__repeat-new-pass form form__text'
      placeholder='повторите пароль'
    />

    <label class='ChangeUserData__form__file button button__text'>
      <img
        class='ChangeUserData__form__img'
        src='../../icons/Иконка файлов.svg'
      />
      <input class='ChangeUserData__form__file' type='file' />
      Новое фото
    </label>

    <input
      type='submit'
      class='ChangeUserData__form__apply button button__text'
      value='Применить изменения'
    />
  </form>
</div>
