<div class='change-user-data'>
  <h1 class='change-user-data__header table__header'>
    Хотите изменить свои данные?
  </h1>
  <form
    class='change-user-data__form'
    enctype='multipart/form-data'
    method='post'
  >
    <label>
      <input
        type='text'
        class='change-user-data__form__new-pass form form__text login__input__signup'
        value='{{login}}'
        placeholder='ваш новый логин'
      />
    </label>
    <div class='login__input__signup'></div>
    <label>
      <input
        type='email'
        class='change-user-data__form__new-pass form form__text email__input__signup'
        placeholder='ваш email'
        value='{{email}}'
      />
    </label><label for='birthday'></label><input
      class='change-user-data__form__new-pass form form__text date_input'
      type='date'
      id='birthday'
      name='birthday'
      value='{{birthdate}}'
    />
    <input
      type='password'
      class='change-user-data__form__new-pass form form__text password__input__signup'
      placeholder='ваш новый пароль'
    />

    <label>
      <input
        type='password'
        class='change-user-data__form__repeat-new-pass form form__text second_password__input__signup'
        placeholder='повторите пароль'
      />
    </label>

    <label class='change-user-data__form__file button button__text'>
      <img
        class='change-user-data__form__img'
        src='../../icons/Иконка файлов.svg'
        alt=''
      />

      <input class='change-user-data__form__file settings_file' type='file' />
      Новое фото
    </label>

    <button
      type='submit'
      class='change-user-data__form__apply button button__text'
    >Применить изменения</button>
  </form>
  <div class='error_string_settings'></div>
  <div class='success_string_settings'></div>
</div>