<div class='ChangeUserData'>
<<<<<<< HEAD

=======
  <h6 class='ChangeUserData__header table__header'>
    Ваш профиль
  </h6>
>>>>>>> 16cbd31 (add change rating color and fix stars)
  <form
    class='ChangeUserData__form'
    enctype='multipart/form-data'
    method='post'
  >
<<<<<<< HEAD
      <div class='ChangeUserData__header table__header'>
          Ваш профиль
      </div>
        <span class='text-form login-text'>Логин</span>
        <span class='error-login error-string'></span>
      <span class='text-form email-text'>Электронная почта</span>
      <span class='error-email error-string'></span>
      <span class='text-form date-text'>Дата рождения</span>
      <span class='error-birthday error-string'></span>
      <span class='text-form login-first-text'>Пароль</span>
      <span class='error-password-first error-string'></span>
          <span class='text-form login-second-text'>Пароль</span>
      <div>
          <span class='error-password-second error-string' ></span>
      </div>
      <div class="ChangeUserData__form user-data-buttons">
          <label class="ChangeUserData__form__file button button__text">
              <img
                      class='ChangeUserData__form__img'
                      src='/icons/Иконка файлов.svg'
                      alt=''
              />
              <input class='ChangeUserData__form__file settings_file' type='file' />
              Новое фото
          </label>
      </div>
=======
    <span class='text-form login-text'>Логин</span>
    <span class='error-login error-string'></span>
    <span class='text-form email-text'>Электронная почта</span>
    <span class='error-email error-string'></span>
    <span class='text-form date-text'>Дата рождения</span>
    <span class='error-birthday error-string'></span>
    <span class='text-form login-first-text'>Пароль</span>
    <span class='error-password-first error-string'></span>
    <span class='text-form login-second-text'>Пароль</span>
    <div>
      <span class='error-password-second error-string'></span>
    </div>
    <div class='ChangeUserData__form user-data-buttons'>
      <label class='ChangeUserData__form__file button button__text'>
        <img
          class='ChangeUserData__form__img'
          src='/icons/Иконка файлов.svg'
          alt=''
        />
        <input class='ChangeUserData__form__file settings_file' type='file' />
        Новое фото
      </label>
    </div>
>>>>>>> 16cbd31 (add change rating color and fix stars)
  </form>
  <div class='error_string_settings'></div>
  <div class='success_string_settings'></div>
</div>
