@media (max-width: 1920px) {
  .header-button {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  .header-button {
    font-size: 0;
  }
}

@media (max-width: 780px) {
  .settingsHeader,
  .logoutHeader {
    font-size: 10px;
  }
}

header {
  width: 100%;
  height: 70px;
  background: #141414;
  display: flex;
  position: fixed;
  z-index: 3;

  /*position: sticky;*/
  transition: all 0.3s ease-in-out; /* Плавный переход */
  /*opacity: 0; !* Начальное значение прозрачности *!*/
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: margin-top 0.1s ease;
  white-space: nowrap;
  color: white;
}

.header-button {
  cursor: pointer;
}

.header_basket-item {
  cursor: pointer;
}

.margin-header {
}

.margin-header:hover {
  margin-top: 5px;
}

/*.header-button:hover {*/
/*  margin-top: 5px;*/
/*}*/

/*.header_header-item:hover {*/
/*  margin-top: 5px;*/
/*}*/

.header-button span {
  margin-left: 5%;
}

input::placeholder {
  text-align: center;
}

.header_search_item {
  /*text-align: left;*/
  cursor: not-allowed;
  display: block;
  width: 25%;
  /*max-height: 32px;*/
  border-radius: 8px;
  border: 0;
  /*border: 1px solid white;*/
  /*background: rgba(0,0,0,0.8);*/
  transition: border 0.3s ease;
  padding: 8px 30px 8px 30px;
  outline: none;
}

.header_search_item:hover {
  /*border: 1px solid black;*/
}

.header_settings-header,
.header_logout-header {
  padding: 1rem;
  cursor: pointer;
  background: #141414;
  font-family: 'Montserrat', sans-serif;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  clear: both;
  width: 100%;
}

.header_settings-header:hover,
.header_logout-header:hover {
  padding: 1rem;
  background: #5e5c5c;
}

.navigationProfile {
  font-family: monospace;
}

.ulNavProfile {
  /*background: darkorange;*/
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.liNavProfile {
  /*background: #141414;*/
  font-family: 'Montserrat', sans-serif;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

.ulNavProfile .liNavProfile:hover > .dropdown,
.dropdown .header_logout-header:hover,
.dropdown .header_settings-header:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
