@media (max-width: 1920px) {
    .headerItem, .loginHeader, .brandHeader{
        font-size: 16px;
    }
}

@media (max-width: 980px) {
    .headerItem, .loginHeader, .brandHeader {
        font-size: 0;
        max-width: 30px;
    }
}

header {
    width: 100%;
    height: 70px;
    background: #F3C23C;
    display: flex;
}

.header{
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.headerItem, .brandHeader, .loginHeader {
    cursor: pointer;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: margin-top 0.1s ease;
}

.headerItem:hover, .brandHeader:hover, .loginHeader:hover {
    margin-top:5px;
}

.headerItem span, .brandHeader span, .loginHeader span {
    margin-left: 1%;
}

.brand_icon {
    width: 30px;
}

input::placeholder {
    text-align: center;
}

.header_search_item {
    display: block;
    width: 30%;
    max-height: 32px;
    border-radius: 45px;
    border: 1px solid white;
    transition: border 0.3s ease;
    padding: 8px 8px 8px 8px;
}

.header_search_item:hover {
    border: 1px solid black;
}
