@media (max-width: 1920px) {
    .headerItem, .loginHeader, .brandHeader{
        font-size: 16px;
    }
}

@media (max-width: 980px) {
    .headerItem, .loginHeader, .brandHeader {
        font-size: 0;
        max-width: 30px;
    }
}

header {
    width: 100%;
    height: 70px;
    background: #F3C23C;
    display: flex;
}

.header{
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.headerItem, .brandHeader, .loginHeader {
    cursor: pointer;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: margin-top 0.1s ease;
}

.headerItem:hover, .brandHeader:hover, .loginHeader:hover {
    margin-top:5px;
}

.headerItem span, .brandHeader span, .loginHeader span {
    margin-left: 1%;
}

.brand_icon {
    width: 30px;
}

input::placeholder {
    text-align: center;
}

.header_search_item {
    display: block;
    width: 30%;
    max-height: 32px;
    border-radius: 45px;
    border: 1px solid white;
    transition: border 0.3s ease;
    padding: 8px 8px 8px 8px;
}

.header_search_item:hover {
    border: 1px solid black;
}

.settingsHeader, .logoutHeader {
    padding: 1rem;
}

.settingsHeader:hover, .logoutHeader:hover {
    padding: 1rem;
    background: #d2dcd4;
}

a {
    text-decoration: none;
}

nav {
    font-family: monospace;
}

ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
//color: #fff;
    background: #F3C23C;
    font-family: "Montserrat", sans-serif;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover {
//background: red;
    cursor: pointer;
}

ul li ul {
//background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
//margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}
