header {
  width: 100%;
  height: 70px;
  background: #141414;
  display: flex;
  position: fixed;
  z-index: 3;

  transition: all 0.3s ease-in-out;
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: margin-top 0.1s ease;
  white-space: nowrap;
  color: white;
}

.header-button {
  cursor: pointer;
}

.header_basket-item {
  cursor: pointer;
}

.margin-header {
}

.margin-header:hover {
  margin-top: 5px;
}

.header-button:hover {
  margin-top: 5px;
}

.header_header-item:hover {
  margin-top: 5px;
}

.header-button span {
  margin-left: 5%;
}

input::placeholder {
  text-align: center;
}

.header_search_item {
  /*text-align: left;*/
  cursor: pointer;
  display: flex;
  width: 38%;
  /*max-height: 32px;*/
  border-radius: 8px;
  border: 0;
  /*border: 1px solid white;*/
  /*background: rgba(0,0,0,0.8);*/
  transition: border 0.3s ease;
  /*padding: 8px 30px 8px 30px;*/
  outline: none;
}

.header_search_item:hover {
  /*border: 1px solid black;*/
}

.header_settings-header,
.header_logout-header,
.header_user-statistic-header {
  padding: 1rem;
  cursor: pointer;
  background: #141414;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  clear: both;
  width: 100%;
  color: white;
}

.header_settings-header:hover,
.header_logout-header:hover,
.header_user-statistic-header:hover {
  background: #5e5c5c;
}

/*.header_search_item__select-search:hover {*/
/*  opacity: 0.8;*/
/*}*/

.navigationProfile {
  /*font-family: monospace;*/
}

.ulNavProfile {
  /*background: darkorange;*/
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.liNavProfile {
  /*background: #141414;*/
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

.ulNavProfile .liNavProfile:hover > .dropdown,
.dropdown .header_logout-header:hover,
.dropdown .header_settings-header:hover,
.dropdown .header_user-statistic-header:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

@media screen and (max-width: 1920px) {
  .header-button {
    font-size: 16px;
  }
}

.header_search_item__select-search {
  width: 30%;
  background: #f5c518;
  border-radius: 8px 0 0 8px;
  border: 1px solid #f3c23c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
  padding: 0 8px 0 8px;
  gap: 5px;
}

.actors-search-header {
  display: none;
}

.brand_icon, .icon {
  height: 35px;
  width: auto;
}

.header_search_item__lope-container {
  background: white;
  border-radius: 0 8px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  cursor: auto;
}

.icon-profile {
  height: 35px;
}

.header_search_item__all-search-container {
  background: white;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6%;
  cursor: auto;
}

.header_search_item__input {
  width: 50%;
  height: 21px;
  /*border-radius:0 8px 8px 0;*/
  border: 0;
  border-right: none;
  padding: 8px 15px 8px 5px;
  /*border: 1px solid #f3c23c;*/
  text-align: center;
}

.header_search__list-search {
  display: none;
  margin-top: 180px;
  position: absolute;
  width: 200px;
  background: #141414;
}

.header__search-mobile__select__list {
  display: none;
  margin-top: 180px;
  position: absolute;
  width: 15%;
  background: #141414;
}

.header__search-mobile__search-input {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.header_search__list-search__films,
.header_search__list-search__actors {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  transition-duration: 0.5s;
  padding: 1rem;
}

.header__search-mobile__select__films,
.header__search-mobile__select__actors {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  padding: 1rem;
}

.search-mobile {
  display: none;
}

.header__search-mobile {
  width: 100%;
  height: 85px;
  top: -85px;
  position: absolute;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  display: none;
  color: white;
  background-color: #141414;
  z-index: 2;
}

.search-mobile-lope {
  cursor: pointer;
}

.header__search-mobile__input {
  width: 70%;
  border: none;
  border-radius: 8px 0 0 8px;
  height: 60px;
  font-size: 22px;
  text-align: center;
  background-color: #5e5c5c;
  color: white;
}

.header__search-mobile__input::placeholder {
  color: white;
  opacity: 0.5;
}

.header__search-mobile__input__cancel,
.header__search-mobile__input__all-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e5c5c;
  width: 15%;
  cursor: pointer;
}

.header__search-mobile__input__cancel {
  border-radius: 0 8px 8px 0;
}

header__search-mobile__input::placeholder {
  color: white;
}

.header__search-mobile__select {
  width: 15%;
  height: 85px;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /*background: #f3c23c;*/
  /*border-bottom: 1px solid #f3c23c;*/
}

.header__search-mobile__search {
  width: 15%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #f3c23c;*/
  /*border-bottom: 1px solid #f3c23c;*/
}

.header_search_item__lope,
.header_search_item__all-search {
  /*width: 12px;*/
  height: 20px;
  min-width: auto;
  cursor: pointer;
  border-left: none;
  /*min-height: auto;*/
}

.header_search__list-search__actors {
  border-radius: 0 0 8px 8px;
}

.header_search__list-search__films:hover,
.header_search__list-search__actors:hover {
  /*opacity: 0.8;*/
  background: #5e5c5c;
}

.header_search_item__select-search__arrow-header,
.header_search_item__select-search__arrow {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 1250px) {
  .header .right-element {
    margin-right: 10px;
  }

  .header .left-element {
    margin-left: 10px;
  }

  .header_brand-header {
    /*margin-left: 20px;*/
  }

  .header_login-header {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .header__search-mobile {
    display: none;
  }

  .header_search_item__lope-container,
  .header_search_item__all-search-container {
    width: 10%;
  }

  .content-block,
  .header,
  .footer {
    width: 100%;
  }

  .header {
    padding: 0 20px 0 20px;
  }

  header {
    height: 85px;
  }

  .icon {
    height: 50px;
    width: 50px;
  }

  .header .right-element {
    margin-right: 10px;
  }

  .header .left-element {
    margin-left: 10px;
  }

  .header_brand-header {
    margin-left: 20px;
  }

  .header_login-header {
    margin-right: 20px;
  }

  .header-button {
    font-size: 0;
  }

  .ul-header {
    padding-left: 0;
  }

  .header_settings-header,
  .header_logout-header,
  .header_user-statistic-header {
    position: absolute;
    right: 50px;
    top: 0;
  }

  .header_user-statistic-header {
    top: 50px;
  }

  .header_logout-header {
    top: 100px;
  }
}
@media screen and (max-width: 800px) {
  .search-container__text {
    display: none;
  }

  .image-container {
    justify-content: flex-start;
  }

  .header_search_item {
    width: 45%;
  }

  .header_search_item__mobile-lope {
    height: 30px;
    width: 30px;
  }


  .header_search_item__lope {
    height: 50px;
    width: 50px;
  }

  .header_search_item {
    display: none;
  }

  .search-mobile {
    display: flex;
  }

  .icon,
  .search-mobile-lope {
    height: 50px;
    width: 50px;
  }

  .ul-header {
    padding-left: 0;
  }

  .header_settings-header,
  .header_logout-header,
  .header_user-statistic-header {
    position: absolute;
    right: 30px;
    top: 0;
  }

  .header_user-statistic-header {
    top: 50px;
  }

  .header_logout-header {
    top: 100px;
  }

  header {
    height: 85px;
  }
}

@media screen and (max-width: 600px) {
  .brand_icon {
    height: 30px;
    width: auto;
  }

  .header_search_item__input {
    padding: 8px 1px 8px 1px;
  }

  .films-search-header,
  .actors-search-header {
    font-size: 12px;
  }

  .header_search_item__select-search {
    width: 55%;
  }
}

@media screen and (max-width: 450px) {
  .header_settings-header,
  .header_logout-header,
  .header_user-statistic-header {
    position: absolute;
    right: 45px;
  }

  .icon-profile {
    height: 35px;
  }

  header {
    height: 60px;
  }

  .header .right-element {
    margin-right: 0;
  }

  .header .left-element {
    margin-left: 0;
  }

  .header_search_item {
    width: 130px;
  }

  .header_brand-header {
    margin-left: 0;
  }

  .header .left-element {
    margin-left: 0;
  }

  .header .left-element {
    margin-right: 0;
  }

  .icon,
  .header_search_item__lope,
  .header_search_item__mobile-lope-search {
    width: 35px;
    height: 35px;
  }
}
