.selectCollection {
  display: flex;
  justify-content: center;

  z-index: 100;

  /* position: absolute;
  top: 100px;
  left: 500px;
  left: 50%; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.selectCollection-frame {
  /* z-index: 100;
  position: relative;
  top: 100px; */

  /* display: none; */
  /* visibility: hiddesn; */

  width: 800px;
  height: 800px;
  /* width: 800px;
  height: 800px; */

  border-radius: 45px;
  background: rgba(29, 29, 25, 0.774);
}

.selectCollection-frame-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 20%;
}

.selectCollection-frame-img {
  width: 5%;
  height: auto;
  margin-left: 10%;
}

.selectCollection-frame-header-name {
  width: 75%;
  height: auto;
  text-align: right;
  margin-right: 10%;

  color: #000;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
}

.selectCollection-frame-lists {
  display: flex;
  justify-content: center;
}

.selectCollection-frame-list {
  display: flex;
  flex-direction: column;

  width: 27%;
  height: auto;

  margin-left: 5%;
  margin-right: 5%;
}

.selectCollection-frame-list-header {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;

  margin-top: 0;
  margin-bottom: 0%;

  padding-bottom: 10%;

  border-bottom: 2px solid black;

  height: auto;
  width: auto;
}

.selectCollection-frame-list-item {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;

  width: 100%;
  height: auto;

  margin-top: 10%;
  margin-bottom: 10%;
}
