.popupSelectCollection {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.popupSelectCollection.active {
  opacity: 1;
  visibility: visible;
}

.selectCollection {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selectCollection-frame {
  width: 500px;
  border-radius: 45px;
  background-color: rgb(98, 98, 93);
  transition: all 1s ease 0s;
}

.selectCollection-frame-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.selectCollection-frame-img {
  width: 7%;
  height: auto;
  margin-left: 10%;
  cursor: pointer;
}

.selectCollection-frame-header-name {
  width: 85%;
  height: auto;
  text-align: right;
  margin-right: 10%;
  color: #000;
  font-family: Montserrat, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
}

.selectCollection-frame-lists {
  display: flex;
  justify-content: center;
}

.selectCollection-frame-list {
  display: flex;
  flex-direction: column;
  width: 27%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.selectCollection-frame-list-header {
  color: #fff;
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-top: 0;
  margin-bottom: 0%;
  padding-bottom: 10%;
  border-bottom: 2px solid black;
  height: auto;
  width: auto;
}

.selectCollection-frame-list-item {
  color: #fff;
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
