<div class="selectCollection">
  <div class="selectCollection-frame">
    <div class="selectCollection-frame-header">
      <img
        class="selectCollection-frame-img"
        src="../../icons/arrow_left.svg"
      />
      <p class="selectCollection-frame-header-name"> MovieGate</p>
    </div>
    <div class="selectCollection-frame-lists">
      {{#each collections}}
        <div class="selectCollection-frame-list">
          <p class="selectCollection-frame-list-header"> {{collection_name}}</p>
          {{#each collection_items}}
            <p class="selectCollection-frame-list-item" data-section="{{this.value}}">{{this.key}}</p>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
