<div class='popup-select-collection'>
  <div class='select-collection'>
    <div class='select-collection-frame'>
      <div class='select-collection-frame-header'>
        <img class='select-collection-frame-img' src='/icons/arrow_left.svg' />
        <p class='select-collection-frame-header-name'> MovieHub</p>
      </div>
      <div class='select-collection-frame-lists'>
        {{#each collections}}
          <div class='select-collection-frame-list'>
            <p class='select-collection-frame-list-header'>
              {{collection_name}}</p>
            {{#each collection_items}}
              <p
                class='select-collection-frame-list-item'
                data-section='{{this.value}}'
              >{{this.key}}</p>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>