<div class='popup-select-collection'>
  <div class='select-collection'>
    <div class='select-collection__frame'>
      <div class='select-collection__frame__header'>
        <img
          class='select-collection__frame-img'
          src='../../icons/arrow_left.svg'
        />
        <p class='select-collection__frame__header-name'> MovieHub</p>
      </div>
      <div class='select-collection__frame__lists'>
        {{#each collections}}
          <div class='select-collection__frame__list'>
            <p class='select-collection__frame__list__header'>
              {{collection_name}}</p>
            {{#each collection_items}}
              <p
                class='select-collection__frame__list__item'
                data-section='{{this.value}}'
              >{{this.key}}</p>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>