<div class='search-container'>
  <div class='search-container__header'>Расширенный поиск по названию</div>
  <div class='search-container__text'>Откройте для себя надежный поиск по
    заголовкам на MovieHub. Комбинируйте и сопоставляйте информацию, чтобы
    уточнить результаты поиска. Ищете канадские фильмы ужасов 1970-х годов с
    оценкой выше 6? Найдите их здесь. Все поля ниже необязательны, но для поиска
    необходимо хотя бы одно. Для диапазонов (дата выпуска, голоса) используйте
    «min» для большего/после и «max» для меньшего/до. Вы также можете нажать
    «Ввод» после установки флажка или фокусировки на поле.
  </div>
  <div class='search-container__select'>
    <div class='search-container__select__films'>
      <div class='film-selection__header__yellow-selection-film'></div>
      <img class='image-select' src='/icons/youtube.webp' alt=""/>
      <div class='text-select'>Фильмы</div>
    </div>
    <div class='search-container__select__actors'>
      <div
        class='film-selection__header__yellow-selection-actor noactive-opacity'
      ></div>
      <img class='image-select' src='/icons/people.webp' alt=""/>
      <div class='text-select'>Актёры</div>
    </div>
  </div>
  <div class='search-container__result-button'>
    <button class='result-button' type='submit'>Показать результат</button>
  </div>
  <form class='search-container__main search-inputs-film'>
    <!--      <button class='result-button' type="submit">Показать результат</button>-->
    <div class='search-container__main__left'>
      <div class='search-container__main__left__button'>
        <div class='wrap-center title-select'>
          <div class='text-select'>Название</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-title noactive'></div>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center genre-select'>
          <div class='text-select'>Жанр</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <section class='section-title-type noactive'></section>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center rating-select'>
          <div class='text-select'>Рейтинг</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-rating noactive'>
          от
          <div class='section-rating__left'></div>
          до
          <div class='section-rating__right'></div>
        </div>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center mpaa-select'>
          <div class='text-select'>MPAA</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='mpaa-container noactive'>
          <input class='mpaa-container__input' type='checkbox' />
          18+
        </div>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center years-select'>
          <div class='text-select'>Годы</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-years noactive'>
          <div class='section-years__row'>
            от
            <div class='years-select__left'></div>
          </div>
          <div class='section-years__row'>
            до
            <div class='years-select__right'></div>
          </div>
        </div>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center actors-select'>
          <div class='text-select'>Актёры</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-actors noactive'>
          Пишите актеров через запятую
        </div>
      </div>
    </div>
    <div class='search-container__main__right'></div>
  </form>
  <div class='search-container__main search-inputs-actor noactive'>
    <div class='search-container__main__left'>
      <div class='search-container__main__left__button'>
        <div class='wrap-center name-select'>
          <div class='text-select'>Имя</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-name noactive'></div>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center amp-lua-select'>
          <div class='text-select'>Амплуа</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <section class='section-amp-lua noactive'>
          Напишите через запятую
        </section>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center country-select'>
          <div class='text-select'>Страна</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-country noactive'></div>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center birthday-select'>
          <div class='text-select'>Дата рождения</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-birthday noactive'></div>
      </div>
      <div class='search-container__main__left__button'>
        <div class='wrap-center films-select'>
          <div class='text-select'>Фильмы</div>
          <img class='image-search' src='/icons/icon-button.webp' alt=""/>
        </div>
        <div class='section-films noactive'>
          Напишите через запятую
        </div>
      </div>
    </div>
    <div class='search-container__main__right'></div>
  </div>
</div>
