
    <div class="header__container">
        <div class="header__container main-container">
            <div class="header__container image-container" style='background-image: url("/icons/{{urlImage}}")'>
                <div class="header__container__shadow box-shadow"></div>
<!--                <img class="image-container" src="/icons/mainImagjpg" class="gradient-image"  style="width:100%">-->
<!--                <div class="slider-container__text">Для просмотра фильмов заходите на Netflix</div>-->
            </div>
        </div>
    </div>

