.image-container {
    background-image: url("/icons/mainImagjpg");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*transform: scale(1.25) translateY(-10%);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
}
/*loginImage*/
.header__container {
    position: relative;
    /*position: absolute;*/
    /*z-index: 2;*/
}

.box-shadow {
    background: rgb(0 0 0 / 40%);
    background-image: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
